/* Universal styles */

html, body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: #000000;
    opacity: 0.9;
    text-align: center;
}

/* Header */

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
}

header img { 
    height: 50px; 
    float: left;
}

header nav { float: right; }

header nav ul li {
    text-decoration: underline;
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}

/* Mission section */

#mission {
    display: flex;
    align-items: center;
    height: 700px;
    width: 1200px;
    margin: auto;
    background-image: url('../images/img-mission-background.jpg');
}

#mission article { 
    background-color: #000000; 
    width: 100%;
}

/* Tea section */

#tea {
    margin: auto;
    width: 1000px;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.tea-item img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

.tea-item h4 { margin-top: 0; }

/* Location section */

#location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1200px;
    margin: auto;
    background-image: url('../images/img-locations-background.jpg');
}

.location-item {
    background-color: #000000;
    width: 300px;
    opacity: 1;
    margin-left: 20px;
    margin-right: 20px;
}

div.location-item h3.thin { font-weight: lighter; }

/* Contact details */

#contact { height: 200px; }

/* Footer */

footer {
    padding-left: 20px;
    text-align: left;
}