/* Universal styles */

html, body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: #000000;
    opacity: 0.9;
    text-align: center;
}

/* Header */

header {
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    position: fixed;
    top: 0;
}

header img { 
    height: 50px; 
    float: left;
}

header nav { float: right; }

header nav ul li {
    text-decoration: underline;
    display: inline;
    list-style-type: none;
    margin-left: 10px;
}

main { margin-top: 30px; }